Repository SlimWojak/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print, constitutional-scalar-ban, constitutional-provenance

.pre-commit-config.yaml:

# Phoenix Pre-commit Configuration
# Run: pre-commit install (once)
# Manual: pre-commit run --all-files

repos:
  # Ruff - linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # MyPy - type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.0
          - structlog>=24.1.0
          - types-PyYAML
        args: [--config-file=pyproject.toml]
        # Only check new/modified files (not grandfathered)
        pass_filenames: true

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-merge-conflict
      - id: detect-private-key

  # Prevent commits to main
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]

  # Check for print statements (custom)
  - repo: local
    hooks:
      - id: no-print
        name: No print() statements
        entry: python -c "import sys; sys.exit(1 if 'print(' in open(sys.argv[1]).read() else 0)"
        language: system
        files: \.py$
        exclude: ^tests/|^scripts/

  # Constitutional Hooks (S40 Track C)
  - repo: local
    hooks:
      - id: constitutional-scalar-ban
        name: Constitutional Scalar Ban
        entry: python -m tools.hooks.scalar_ban_hook
        language: system
        files: \.py$
        exclude: ^tests/test_hooks/
        description: "Blocks scalar scores, rankings, grades, causal language"

      - id: constitutional-provenance
        name: Constitutional Provenance Check
        entry: python -c "import sys; [sys.exit(1) if ('CFPResult' in open(f).read() or 'cfp_result' in open(f).read()) and 'provenance' not in open(f).read() else None for f in sys.argv[1:]]"
        language: system
        files: \.py$
        exclude: ^tests/

# CI Configuration
ci:
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

S54-T3: Registry expansion — 203 code-referenced invariants registered
  INVARIANT_REGISTRY.yaml
Due: none

RIVER-P0P1P2: Fix silent failure — observability, correct primitive, heartbeat
  river/streamer.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

S54-T4-MYPY: Zero errors on capital path — mypy --strict governance/ execution/ cso/
  brokers/ibkr/degradation.py
  brokers/ibkr/heartbeat.py
  brokers/ibkr/real_client.py
  brokers/ibkr/supervisor.py
  cso/beads.py
  cso/constants.py
  cso/consumer.py
  cso/contract.py
  cso/market_state_builder.py
  cso/observer.py
  cso/params_loader.py
  cso/scanner.py
  cso/strategy_core.py
  cso/structure_detector.py
  daemons/lens.py
  execution/broker_stub.py
  execution/fidelity.py
  execution/halt_gate.py
  execution/intent.py
  execution/positions/paper.py
  execution/replay.py
  governance/backoff.py
  governance/cartridge.py
  governance/circuit_breaker.py
  governance/errors.py
  governance/halt.py
  governance/health_fsm.py
  governance/interface.py
  governance/lease.py
  governance/runtime_assertions.py
  governance/sentinel.py
  governance/slm_boundary.py
  governance/t2/tokens.py
  governance/telemetry.py
  governance/tokens.py
  governance/types.py
  intelligence/llm_client.py
  memory/athena.py
  memory/bead_store.py
  memory/query_parser.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

Fix pd.Timestamp tz incompatibility with ib_insync zoneinfo datetimes
  river/streamer.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

BROADCAST: Synthesise 3 docs into single Wednesday orientation
  docs/archive/broadcasts_pre_20250225/CTO_ADDENDUM_2_WEDNESDAY_MORNING.md
  docs/archive/broadcasts_pre_20250225/CTO_ADDENDUM_POST_S54_EVENING.md
  docs/archive/broadcasts_pre_20250225/CTO_BROADCAST_240226.md
  docs/broadcasts/BROADCAST_20250225.md
Due: none

docs(canon): Update SPRINT_ROADMAP, SYSTEM_MANIFEST, DRIFT_LOG for S53/S54
  docs/canon/DRIFT_LOG.md
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S55-T2T5: check_halt_signal + execution gate + chaos vectors
  governance/halt.py
  governance/insertion.py
  pyproject.toml
  tests/test_halt_active_interrupt.py
  tests/test_halt_chaos.py
  tests/test_halt_signal.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

S56-T1T2T4: Exception scan + kill_manager loud fails + config validation
  config/schema.py
  docs/forensic_audit/audit_250226/exception_scan.yaml
  governance/halt.py
  governance/t2/tokens.py
  monitoring/kill_manager.py
  tests/test_config_boot.py
  tests/test_kill_manager_loud.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

S58-T1T2: CONSTITUTION pointer + DRIFT_LOG DELTA-16/17
  CONSTITUTION/README.md
  docs/canon/DRIFT_LOG.md
Due: none

docs(canon): Update SPRINT_ROADMAP, SYSTEM_MANIFEST for S55-S58
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

docs(canon): Add SYSTEM_STATE_280226 and UNIFIED_ROADMAP_v1
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_280226.md
  docs/canon/UNIFIED_ROADMAP_v1.md
Due: none

docs(canon): Update spitfire head to 3da08b4 in SYSTEM_STATE
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_280226.md
Due: none

docs: Add Dexter Surface Layer to UNIFIED_ROADMAP_v1
  docs/canon/UNIFIED_ROADMAP_v1.md
Due: none

S62: governance log emitter — Bridge provenance root
  governance/bead_emitter.py
  governance/governance_log.py
  tests/test_governance_log.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

Canon update: S62 BRIDGE_BUILD + GATE_2 complete
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_280226.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S63.T5: Proto-AIR Header v0.2 — attestation envelope spec (schema only)
  docs/canon/PROTO_AIR_HEADER_v0_2.md
Due: none

S63.T4-T5: canon reconciliation + Proto-AIR exit gate PASS
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_280226.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_MASTER_PLAN_v0_1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S63.T1: M3 migration COMPLETE — field deployed, 455/455 PASS
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_280226.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S63 EXIT: canon update — field activation complete, roadmap revised
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_280226.md
  docs/canon/UNIFIED_ROADMAP_v1.md
Due: none

S64 CANON UPDATE: methodology vLOCK, State Detection v2.4, 5-node cluster
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_200326.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S64 EXIT: canon update — all 6 gates sealed, S65 begins
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/SYSTEM_STATE/SYSTEM_STATE_200326.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S65 SEALED: canon docs updated — checklist, signals, HTF displacement fix
  cartridges/active/asia_range_scalp.yaml
  cso/knowledge/conditions.yaml
  cso/knowledge/methodology_template.yaml
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S66: deployment roadmap v1.1 + track briefs + vLOCK amendment
  docs/build_docs/BRIEF_S66_TRACK_A.md
  docs/build_docs/BRIEF_S66_TRACK_C.md
  docs/build_docs/DEPLOYMENT_ROADMAP.md
  docs/build_docs/VLOCK_AMENDMENT_KILL_ZONE_GATE_v2.md
Due: none

S66 canon update: roadmap, sprint record, manifest — defer forward to DEPLOYMENT_ROADMAP
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

DEPLOY.P0: Foundations — GateRegistry, GateContext, ghost policy, stale cleanup
  cso/evaluator.py
  cso/gate_registry.py
  cso/scanner.py
  docs/archive/ROAD_TO_DEPLOYMENT.md
  docs/canon/SYSTEM_ARCHITECTURE_AUDIT_v1.md
  execution/contracts/execution_surface.yaml
  execution/position.py
  execution/positions/__init__.py
  execution/positions/paper.py
  execution/positions/states.py
  pyproject.toml
  river/ghost_policy.py
  tests/test_cso/test_gate_registry.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

DEPLOY.P1: ARS through constitutional governance — end-to-end
  daemons/strategy_orchestrator.py
  execution/intent_adapter.py
  leases/ars_paper_shadow.yaml
  pyproject.toml
  tests/test_cso/test_gate_registry_oracle.py
  tests/test_orchestrator_smoke.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

DEPLOY.P2: Signal escalation adapter — Dexter to Phoenix constitutional bridge
  cartridges/staged/htf_directional.yaml
  cso/gate_registry.py
  daemons/strategy_orchestrator.py
  execution/signal_adapter.py
  governance/graduation.py
  tests/test_p2_htf_graduation.py
  tests/test_signal_adapter.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

P3.PRE: Fix stale nex/river.db refs — River is parquet now
  config/profiles/live.yaml
  config/profiles/paper.yaml
  config/schema.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

Add MIGRATION_AUDIT.md — M4→M3 deployment readiness audit
  MIGRATION_AUDIT.md
Due: none

DEPLOY.P3: M3 migration fixes — venv-aware launcher, portable test paths, orchestrator runner
  scripts/launch_river.sh
  scripts/run_strategy_orchestrator.sh
  tests/chaos/test_bunny_s33_p1.py
Due: constitutional-scalar-ban

DEPLOY.P3: Fix pandas 3.x tz-aware Timestamp incompatibility in RiverReader
  river/reader.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

P3: Production orchestrator runner (scripts/run_orchestrator.py)
  scripts/run_orchestrator.py
Due: constitutional-scalar-ban, constitutional-provenance

P3.FIX2: RiverReader merges staging JSONL with parquet
  river/reader.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

RIVER_RESILIENCE: Harden streamer against gaps, staleness, and restart scenarios
  river/streamer.py
  tests/test_river_streamer/__init__.py
  tests/test_river_streamer/test_streamer_resilience.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

fix(river): prevent seed/live dedup race in _subscribe
  river/streamer.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

feat(river): continuity correction for live MIDPOINT bars
  river/streamer.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

fix(river): triple dedup for ib_insync double-callback
  river/streamer.py
Due: no-print, constitutional-scalar-ban, constitutional-provenance

S67: canon refresh — manifest, roadmap, unified updated
  docs/build_docs/OPUS_CANON_REFRESH_AND_SWEEP_FORENSIC.md
  docs/build_docs/OPUS_M3_CANONICAL_PIPELINE_BRIEF.md
  docs/build_docs/TASK_B_ADDENDUM_SWEEP_HYPOTHESIS.md
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none

S68: canon update — sweep pool expansion complete
  docs/canon/SPRINT_ROADMAP.md
  docs/canon/UNIFIED_ROADMAP_v1.md
  docs/canon/a8ra_SYSTEM_MANIFEST_v1_0.md
Due: none
